.CardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  overflow: scroll;
  padding: 0px 10px;
  height: 79vh;
}

.no-favorites-container,
.loading-notice {
  text-shadow: #000 3px 0 42px;
}