.CardContainer {
  // background-color: #F5F5F5;
  grid-area: cardcontainer;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  overflow: scroll;
}