body {
  background-image: url('./images/black-space.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-color: #000;
}

.App {
  font-family: Arial, Geneva, Tahoma, sans-serif;
}