body {
  background-image: url('./images/black-space.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-color: #000;
}

.App {
  font-family: Arial, Geneva, Tahoma, sans-serif;
  // display: grid;
  grid-template-columns: 26% 37% 37%;
  grid-template-rows: 1fr 1fr 8fr;
  grid-template-areas: 
    "header header header"
    "controls controls controls"
    "filmscript cardcontainer cardcontainer";
}