.App {
  font-family: Arial, Geneva, Tahoma, sans-serif;
  // background-image: url("./space-background.jpg");
  // display: grid;
  grid-template-columns: 26% 37% 37%;
  grid-template-rows: 1fr 1fr 8fr;
  grid-template-areas: 
    "header header header"
    "controls controls controls"
    "filmscript cardcontainer cardcontainer";
}