.Card {
  background-color: #282727e8;
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
  height: 270px;
  margin-top: 20px;
  overflow: auto;
}

.card-info {
  padding: 8px 25px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;

  .fa-star {
    height: 40px;
    font-size: 20px;
    color: #ffff50;
    padding-top: 5px;
    transition: all 500ms ease;

    &:hover {
      font-size: 22px;
      cursor: pointer;
    }
  }

  h3 {
    font-size: 24px;
    margin: 4px 0px;
    letter-spacing: 2px;
    height: 7vh;
  }
}

.info,
ul,
li,
p {
  color: #ddd
}

li {
  list-style-type: square;
}

h2 {
  margin: 150px auto;
  width: 70%;
  color: whitesmoke;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;

  .fa-star {
    color: #ffff50;
  }
}

.info {
  font-weight: bold;

}

.Person-card {
  h3 {
    color: #ffff50;
  }

  .info {
    color: #ffffb9;
  }
}

.Planet-card {
  h3 {
    color: #25ac25;
  }

  .info {
    color: #c1f7c1;
  }
}

.Vehicle-card {

  h3 {
    color: #3535ff;
  }

  .info {
    color: #bbcbfd;
  }
}