.Controls {
  background-color: transparent;
  height: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 28px;
}

.people,
.planets,
.vehicles {
  font-weight: bold;
  letter-spacing: 1.5px;
  border-radius: 5px;
  padding: 12px 24px;
  background-color: #000fcdb8;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: #1d3065e0;
  }
}

.favorites {
  font-weight: bold;
  letter-spacing: 1.5px;
  border-radius: 5px;
  padding: 12px 24px;
  background-color: #000fcdb8;
  font-size: 14px;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: #1d3065e0;
  }
}