.Controls {
  background-color: transparent;
  height: 100%;
  grid-area: controls;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;

}

.btns {
  border-radius: 5px;
  padding: 5px 10px;

  &:hover {
    cursor: pointer;
  }
}

.people-btn,
.planets-btn,
.vehicles-btn {
  background-color: #0013ff69;
  border: none;
  color: #fff;
}

.favorites-btn {
  background-color: #ffd811c4;
  font-size: 14px;
  border: none;
  color: #fff;
}