.Header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  justify-content: space-between;
  height: 12vh;
  grid-area: header;
  color: #fff;
}

.header-title {
  font-family: 'Bungee Inline';
  padding: 0px 30px;
  letter-spacing: 9px;
  font-size: 2em;
}

h1 {
  margin: 0;
}

.category-label {
  margin: auto;
  letter-spacing: 1px;
}